.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.price {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 220px;
}
.button {
  padding: 10px 20px;
  background-color: #daafb2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonText {
  font-size: 16px;
}

.select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
